<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Polls</title>
</head>

<body>
    {% block heading %}
    <h2>Polls</h2>
    {% endblock heading %}

    {% block content %}

    {% endblock content %}
</body>

</html>