{% extends "polls/base.html" %}

{% block heading %}
{{ block.super }}
<h3>result - {{question.question_text}}</h3>
{% endblock heading %}

{% block content %}
<ul>
    {% for choice in question.choice_set.all %}
    <li>
        {{ choice.choice_text }} -- {{ choice.votes }}
    </li>
    {% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
{% endblock content %}