{% extends "polls/base.html" %}

{% block heading %}
{{ block.super }}
<h3>Thanks!</h3>
{% endblock heading %}

{% block content %}
<br>
<p>
    <h4>{{ user_name }}! Thank you for registering))</h4>
</p>

{% endblock content %}