{% extends "polls/base.html" %}

{% block heading %}
{{ block.super }}
<h3>FORM</h3>
{% endblock heading %}

{% block content %}
<form action="{% url 'polls:user_name' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% endblock content %}