<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieFacts</title>
</head>
<body>
  {% block heading %}
    <h2>Movie Palace</h2>
  {% endblock heading %}

  {% block content %}

  {% endblock content %}
</body>
</html>