{% extends "base.html" %}

{% block heading %}
    {{ block.super }}
    <h3>The stuff that dreams are made of</h3>
{% endblock heading %}

  {% block content %}
  <p>
    {% include "simple.html" %}
  </p>

  {% endblock content %}