{% extends "base.html" %}

{% block heading %}
{{ block.super }}
<h3>The stuff that dreams are made of</h3>
{% endblock heading %}

{% block content %}
<h3>Movies</h3>
<ul>
    {% for movie in movies %}
        <li>
            #{{forloop.counter}}  {{movie.0|upper}} was released in {{movie.1}}
        </li>
    {% endfor %}
</ul>

<h3>Goodies</h3>
<ul>
    {% for goodie in conferencionaries %}
        <li>
            {{goodie.0}} &mdash; ${{gopdie.1}}
        </li>
    {% empty %}
        <li> <i>There are no goodies available</i> </li>
    {% endfor %}
</ul>

<p>Copyright <b>MoviePalace</b> {% now "Y" %}</p>

{% endblock content %}