{% extends "base.html" %}

{% block heading %}
{{ block.super }}
<h3>The stuff that dreams are made of</h3>
{% endblock heading %}

{% block content %}
<p>
    {{movie}} was released in {{year}}. It was {% if not is_scary %} not {% endif %} scary.
</p>

<p>
    {% if color %}
        color
    {% else %}
        Black and white
    {% endif %}
</p>

<p>
    {% if THX %}
        Sound was awesome!
    {% endif %}
</p>

<p>
    {% if tomato_meter > tomato_audience %}
        Critics liked it better than audience
    {% elif tomato_meter == tomato_audience%}
        Critics liked it the same as audience
    {% else %}
        Audience liked it better than the critics
    {% endif %}
</p>

<p>Copyright <b>MoviePalace</b></p>

{% endblock content %}