{% extends 'user_management/base.html' %}

{% block content %}
<h2>Password reset complete</h2>

<a href="{% url 'dashboard' %}">Back to dashboard</a>
<a href="{% url 'login' %}">Back to login</a>

{% endblock %}